<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoCollect">
        <activity
            android:name=".marketplaceuser.UserProfile"
            android:exported="false" />
        <activity
            android:name=".marketplaceuser.SalesHistory"
            android:exported="false" />
        <activity
            android:name=".marketplaceuser.ManageOrders"
            android:exported="false" />
        <activity
            android:name=".marketplaceuser.MyProducts"
            android:exported="false" />
        <activity
            android:name=".marketplaceuser.EditProduct"
            android:exported="false" />
        <activity
            android:name=".marketplaceuser.AddProduct"
            android:exported="false" />
        <activity
            android:name=".marketplaceuser.Dashboard"
            android:exported="false" />
        <activity
            android:name=".marketplace.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".marketplace.WriteReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".marketplace.ProductReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".marketplace.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".marketplace.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".marketplace.PaymentSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".marketplace.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".marketplace.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".marketplace.CartActivity"
            android:exported="false" />
        <activity
            android:name=".marketplace.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".marketplace.MarketplaceHomeActivity"
            android:exported="false" /> <!-- Collector Activities -->
        <activity
            android:name=".collector.CollectorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".collector.CollectorNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".collector.UpdateStatusActivity"
            android:exported="false" />
        <activity
            android:name=".collector.HouseholdsActivity"
            android:exported="false" />
        <activity
            android:name=".collector.GPSNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".collector.AssignedRouteActivity"
            android:exported="false" />
        <activity
            android:name=".collector.CollectorHomeActivity"
            android:exported="false" /> <!-- Citizen Activities -->
        <activity
            android:name=".citizen.CitizenProfileActivity"
            android:exported="false" />
        <activity
            android:name=".citizen.CommunityEventsActivity"
            android:exported="false" />
        <activity
            android:name=".citizen.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".citizen.ComplaintsActivity"
            android:exported="false" />
        <activity
            android:name=".citizen.ReportDumpingActivity"
            android:exported="false" />
        <activity
            android:name=".citizen.TruckTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".citizen.CollectionScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".citizen.CitizenHomeActivity"
            android:exported="false" /> <!-- Authentication Activities -->
        <activity
            android:name=".authentication.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="false" /> <!-- Splash Screen (STARTING PAGE) -->
        <activity
            android:name=".authentication.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Remove MainActivity launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>